/******* Etaxfiling Home Page CSS ********/

/*Selector{
	Property: value ;
	
}*/


th,
td {

    border: 1px solid;
    font-weight: normal
}

.div {
    background-color: lightcyan;
}

.whatsapp_float {
    position: fixed;
    bottom: 40px;
    right: 20px;
}


.table-wrapper {
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px;
    overflow-x: scroll;
}