/******* Etaxfiling Home Page CSS ********/

/*Selector{
	Property: value ;
	
}*/

th {

    top: 0px;
    background-color: teal;

}

th,
td {

    border: 1px solid;
    font-weight: normal;
    padding: 10px;

}

.div {
    background-color: lightcyan;
}

.whatsapp_float {
    position: fixed;
    bottom: 40px;
    right: 20px;
}


.table-wrapper {
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px;
    overflow-x: scroll;
}

.outer-wrapper {
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    margin: 20px;
    border-radius: 5px;
    max-width: fit-content;
}

.inputbox {
    background-color: lightgrey;
    width: auto;
    height: auto;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.row {
    background-color: lightgrey;

}

/*  Drop Down Menu */

.dropdown-menu li {

    position: relative;
}

.dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;

}

@media (max-width: 992px) {
    .submenu{
        margin-left: .5em;
        left: unset !important;
        top: unset !important;
    }
}

.dropdown-menu>li:hover>.submenu {
    display: block;
}