/******* Etaxfiling Home Page CSS ********/

/*Selector{
	Property: value ;
	
}*/

th {

    top: 0px;
    background-color: teal;

}

th,
td {

    border: 1px solid;
    font-weight: normal;
    padding: 10px;

}

.div {
    background-color: lightcyan;
}

.whatsapp_float {
    position: fixed;
    bottom: 40px;
    right: 20px;
}


.table-wrapper {
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px;
    overflow-x: scroll;
}

.outer-wrapper {
    border: 1px solid black;
    box-shadow: 0px 0px 3px black;
    margin: 20px;
    border-radius: 5px;
    max-width: fit-content;
}