/******* Etaxfiling Home Page CSS ********/

/*Selector{
	Property: value ;
	
}*/

.etaxTable,
th,
td {

    border: 1px solid;
    font-weight: normal
}

/*
.etaxTable {
    
    border-collapse: collapse;
    border-spacing: 2px;
    
    
    text-indent: initial;
    
    border-color: grey;
    border-collapse: collapse;
    border-spacing: 0;
    
}*/